.Xauthority
.bash_history
.bash_logout
.bash_profile
.cache
.config
.dbus
.fontconfig
.git
.gitconfig
.lesshst
.local
.ssh
.vboxclient-clipboard.pid
.vboxclient-display.pid
.vboxclient-seamless.pid
.vim
.viminfo
.xinitrc
Desktop
